/* 颜色 */
:root {
  --gabriel-theme-op: #4259ef23;
  --gabriel-gray-op: #9999992b;
  --gabriel-theme-top: var(--gabriel-theme);
  --gabriel-white: #fff;
  --gabriel-white-op: rgba(255, 255, 255, 0.2);
  --gabriel-black: #000;
  --gabriel-black-op: rgba(0, 0, 0, 0.2);
  --gabriel-none: rgba(0, 0, 0, 0);
  --gabriel-gray: #999999;
  --gabriel-yellow: #ffc93e;
  --gabriel-border-radius: 8px;
  --gabriel-main: var(--gabriel-theme);
  --gabriel-main-op: var(--gabriel-theme-op);
  --gabriel-shadow-theme: 0 8px 12px -3px var(--gabriel-theme-op);
  --gabriel-shadow-main: 0 8px 12px -3px var(--gabriel-main-op);
  --gabriel-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
  --gabriel-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
  --gabriel-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
  --gabriel-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
  --gabriel-shadow-red: 0 8px 12px -3px #ee7d7936;
  --gabriel-shadow-green: 0 8px 12px -3px #87ee7936;
  --gabriel-shadow-border: 0 8px 16px -4px #2c2d300c;
  --gabriel-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
  --gabriel-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
  --style-border: 1px solid var(--gabriel-card-border);
  --gabriel-blue-main: #3b70fc;
  --style-border-hover: 1px solid var(--gabriel-main);
  --style-border-dashed: 1px dashed var(--gabriel-theme-op);
  --style-border-avatar: 4px solid var(--gabriel-background);
  --style-border-always: 1px solid var(--gabriel-card-border);
  --style-border-none: 1px solid transparent;
  --gabriel-white-acrylic1: #fefeff !important;
  --gabriel-white-acrylic2: #fcfdff !important;
  --gabriel-black-acrylic2: #08080a !important;
  --gabriel-black-acrylic1: #0b0b0e !important;
  --gabriel-main-none: #b8b8b800 !important;
}

[data-theme="light"] {
  --gabriel-theme: #3b70fc;
  --gabriel-theme-deep: #1856fb;
  --gabriel-theme-op: #4259ef23;
  --gabriel-blue: #3b70fc;
  --gabriel-red: #d8213c;
  --gabriel-pink: #ff7c7c;
  --gabriel-green: #57bd6a;
  --gabriel-fontcolor: #363636;
  --gabriel-background: #f7f9fe;
  --gabriel-reverse: #000;
  --gabriel-maskbg: rgba(255, 255, 255, 0.6);
  --gabriel-maskbgdeep: rgba(255, 255, 255, 0.85);
  --gabriel-hovertext: var(--gabriel-theme);
  --gabriel-ahoverbg: #f7f7fa;
  --gabriel-lighttext: var(--gabriel-main);
  --gabriel-secondtext: rgba(60, 60, 67, 0.6);
  --gabriel-scrollbar: rgba(60, 60, 67, 0.4);
  --gabriel-card-btn-bg: #edf0f7;
  --gabriel-post-blockquote-bg: #fafcff;
  --gabriel-post-tabs-bg: #f2f5f8;
  --gabriel-secondbg: #f1f3f8;
  --gabriel-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --gabriel-card-bg: #fff;
  --gabriel-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --gabriel-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --gabriel-card-border: #e3e8f7;
}

[data-theme="dark"] {
  --global-bg: #191919;
  --gabriel-theme: #0084ff;
  --gabriel-theme-deep: #0076e5;
  --gabriel-theme-op: #0084ff23;
  --gabriel-blue: #0084ff;
  --gabriel-red: #ff3842;
  --gabriel-pink: #ff7c7c;
  --gabriel-green: #57bd6a;
  --gabriel-fontcolor: #f7f7fa;
  --gabriel-background: #18171d;
  --gabriel-reverse: #fff;
  --gabriel-maskbg: rgba(0, 0, 0, 0.6);
  --gabriel-maskbgdeep: rgba(0, 0, 0, 0.85);
  --gabriel-hovertext: #0a84ff;
  --gabriel-ahoverbg: #fff;
  --gabriel-lighttext: #f2b94b;
  --gabriel-secondtext: #a1a2b8;
  --gabriel-scrollbar: rgba(200, 200, 223, 0.4);
  --gabriel-card-btn-bg: #30343f;
  --gabriel-post-blockquote-bg: #000;
  --gabriel-post-tabs-bg: #121212;
  --gabriel-secondbg: #30343f;
  --gabriel-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --gabriel-card-bg: #1d1b26;
  --gabriel-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --gabriel-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --gabriel-card-border: #42444a;
}



/* 全局Aplayer隐藏 */
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}



/* 全局默认鼠标指针 */
body,
html{
  cursor: url('/cur/Normalselect.cur'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
  cursor: url('/cur/Linkselect.cur'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('/cur/Linkselect.cur'),auto;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('/cur/Textselect.cur'),auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('/cur/Linkselect.cur'),auto;
}
/* 悬停列表标签时的鼠标指针 */
i:hover{
    cursor: url('/cur/Locationselect.cur'),auto;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover{
      cursor: url('/cur/Linkselect.cur'),auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
      cursor: url('/cur/Locationselect.cur'),auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
      cursor: url('/cur/Locationselect.cur'),auto;
}



/* 一图流隐藏背景*/
/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before{
    background: transparent!important;
  }



/* 标题小风车 */
  /* 让小风车旋转 */
/* 文章页H1-H6图标样式效果 */
/* 控制风车转动速度 */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  -webkit-animation: ccc 1.6s linear infinite ;
  animation: ccc 1.6s linear infinite ;
}
/* 控制风车转动方向 -1turn 为逆时针转动，1turn 为顺时针转动，相同数字部分记得统一修改 */
@-webkit-keyframes ccc {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(-1turn);
      transform: rotate(-1turn)
  }
}
@keyframes ccc {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(-1turn);
      transform: rotate(-1turn)
  }
}

/* 小风车颜色 */
#content-inner.layout h1::before {
  color: #ef50a8 ;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h2::before {
  color: #fb7061 ;
  margin-left: -1.35rem;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}
#content-inner.layout h3::before {
  color: #ffbf00 ;
  margin-left: -1.22rem;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}
#content-inner.layout h4::before {
  color: #a9e000 ;
  margin-left: -1.05rem;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}
#content-inner.layout h5::before {
  color: #57c850 ;
  margin-left: -0.9rem;
  font-size: 0.7rem;
  margin-top: 0.0rem;
}
#content-inner.layout h6::before {
  color: #5ec1e0 ;
  margin-left: -0.9rem;
  font-size: 0.66rem;
  margin-top: 0.0rem;
}

/* 小风车hover动效 */
/* 设置鼠标碰到标题时，小风车跟随标题变色，且像是被光标阻碍了，转速变慢。鼠标离开恢复转速。也可以设置为 none 鼠标碰到停止转动。 */
#content-inner.layout h1:hover, #content-inner.layout h2:hover, #content-inner.layout h3:hover, #content-inner.layout h4:hover, #content-inner.layout h5:hover, #content-inner.layout h6:hover {
  color: #49b1f5 ;
}
#content-inner.layout h1:hover::before, #content-inner.layout h2:hover::before, #content-inner.layout h3:hover::before, #content-inner.layout h4:hover::before, #content-inner.layout h5:hover::before, #content-inner.layout h6:hover::before {
  color: #49b1f5 ;
  -webkit-animation: ccc 3.2s linear infinite ;
  animation: ccc 3.2s linear infinite ;
}



/* CopyRight样式修改 */
/* 版权css修改 */
.layout #post .post-copyright {
  border: 1px solid var(--gabriel-blue-main);
  border-radius: 15px;
  overflow: hidden;
}
.layout #post .post-copyright:before {
  top: -71px;
  right: -20px;
  font-size: 8.3em;
}
/* 手机适配 */
#post .post-copyright:before {
  z-index: -1;
}
@media screen and (min-width: 1365px) {
  #post .post-copyright:before {
    z-index: 0;
  }
}



/* 加载动画 */
.loading-img {
  background: url(https://pochacco.top/img/Avatar.gif) no-repeat center center;
  background-size: cover;
}



/* 12生肖 */
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
   width: 1em; height: 1em;
   /* width和height定义图标的默认宽度和高度*/
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}



/* 最新文章图标*/
#recent-posts>.recent-post-item {
  position: relative;
}

/* 最新文章图标 */
.newPost-left,
.newPost-right {
  position: absolute;
  top: 0;
  color: white;
  padding: 0 15px;
  background-color: #49b1f5;
  border-radius: 0 0 10px 10px;
}

.newPost-left {
  left: 15px;
}

.newPost-right {
  right: 15px;
}



/* 评论区输入提示 */
/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
  content: '输入QQ号会自动获取昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
  content: '收到回复将会发送到您的邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
  content: '可以通过昵称访问您的网站🔗';
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
  display: block;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
  /* 先隐藏起来 */
  display: none;
  /* 绝对定位 */
  position: absolute;
  /* 向上移动60像素 */
  top: -60px;
  /* 文字强制不换行，防止left:50%导致的文字换行 */
  white-space: nowrap;
  /* 圆角 */
  border-radius: 10px;
  /* 距离左边50% */
  left: 50%;
  /* 然后再向左边挪动自身的一半，即可实现居中 */
  transform: translate(-50%);
  /* 填充 */
  padding: 14px 18px;
  background: #444;
  color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
  display: none;
  content: '';
  position: absolute;
  /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
  我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
  border: 12px solid transparent;
  border-top-color: #444;
  left: 50%;
  transform: translate(-50%, -48px);
}



/* 表情放大 */
#owo-big {
  position: fixed;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 1px #aaa solid;
  border-radius: 10px;
  z-index: 9999;
  display: none;
  transform: translate(0, -105%);
  overflow: hidden;
  animation: owoIn 0.3s cubic-bezier(0.42, 0, 0.3, 1.11);
}

[data-theme=dark] #owo-big {
  background-color: #4a4a4a
}

#owo-big img {
  width: 100%;
}

@keyframes owoIn {
  0% {
      transform: translate(0, -95%);
      opacity: 0;
  }
  100% {
      transform: translate(0, -105%);
      opacity: 1;
  }
}



/* 即刻短文 */
#page:has(#essay_page) {
  border: 0;
  box-shadow: none !important;
  padding: 0 !important;
  background: transparent !important;
}
#page:has(#essay_page) .page-title {
  display: none;
}
#web_bg ~ .page:has(#essay_page) {
  background: var(--gabriel-background);
}
#bber .bber-container-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 0.3rem;
}
#bber .bber-container-img .bber-content-noimg {
  width: calc(100% / 4 - 5px);
}

#bber .bber-content-img img {
  object-fit: cover;
  max-height: 100%;
  border-radius: 12px;
}

#bber .bber-content-img {
  height: 100px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  position: relative;
  width: calc(100% / 4 - 5px);
}

#bber .bber-content .datacont {
  order: 0;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--gabriel-fontcolor);
  width: 100%;
  line-height: 1.38;
  border-radius: 12px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
#bber p {
  margin: 0px;
}
#bber div.bber-content {
  display: flex;
  flex-flow: wrap;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
#bber .timeline ul li.bber-item {
  position: relative;
  width: 32%;
  border: var(--style-border-always);
  border-radius: 12px;
  padding: 1rem 1rem 0.5rem;
  transition: all 0.3s ease 0s;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--gabriel-card-bg);
  box-shadow: var(--gabriel-shadow-border);
  margin-right: 2%;
}
#bber .timeline #waterfall.show {
  opacity: 1;
}
#bber .timeline #waterfall {
  opacity: 0;
  transition: all 0.3s ease 0s;
}
#bber ul.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#bber {
  margin-top: 1rem;
  width: 100%;
}
#bber > section > ul > li.bber-item {
  margin-bottom: 1rem;
}

#bber-tips {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#bber .timeline ul li.bber-item hr {
  display: flex;
  position: relative;
  margin: 8px 0px;
  border: 1px dashed var(--gabriel-theme-op);
  width: 100%;
}

#bber .bber-info {
  display: flex;
  align-items: center;
}

#bber > section > ul > li > div .bber-info-time,
#bber > section > ul > li > div .bber-info-from {
  color: var(--gabriel-fontcolor);
  font-size: 0.7rem;
  background-color: var(--gabriel-gray-op);
  padding: 0px 8px;
  border-radius: 20px;
  cursor: default;
  display: flex;
  align-items: center;
}

#bber .bber-info .far.fa-clock {
  margin-right: 4px;
}
#bber > section > ul > li > div .bber-info-from span,
#bber > section > ul > li > div .bber-info-from {
  margin-left: 4px;
}

#bber .bber-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

#bber .bber-bottom .bber-reply {
  cursor: url(/cur/Normalselect.cur), auto !important;
}

#bber .timeline ul li.bber-item:hover {
  border: var(--style-border-hover);
}

#bber .bber-content-link {
  display: flex;
  margin-left: 0.5rem;
  font-size: 0.7rem;
  align-items: center;
  background-color: rgba(245, 108, 108, 0.13);
  color: rgb(245, 108, 108);
  padding: 0px 8px;
  border-radius: 20px;
}
#bber .bber-content-link i {
  margin-right: 3px;
}
#bber .bber-content-link:hover {
  background-color: var(--gabriel-main);
  color: var(--gabriel-white);
}
#bber .bber-music {
  width: 100%;
  height: 90px;
  margin: 0.5rem 0;
  border-radius: 8px;
  overflow: hidden;
  border: var(--style-border-always);
  background: var(--gabriel-secondbg);
}
#bber .aplayer {
  margin: 0;
}

#bber .aplayer.aplayer-withlrc .aplayer-pic {
  height: 82px;
  width: 82px;
  margin: 4px;
  border-radius: 4px;
}
.bber-music .aplayer.aplayer-withlrc .aplayer-info {
  padding: 5px 7px 0;
}
#bber .aplayer .aplayer-info .aplayer-music {
  height: 23px;
}
#bber .aplayer .aplayer-info .aplayer-music .aplayer-title {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0;
  color: var(--gabriel-fontcolor);
}

#bber .aplayer .aplayer-info .aplayer-controller {
  align-items: center;
}
#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
  padding: 0;
}
#bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
  position: initial;
}
#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
  background: var(--gabriel-gray);
  height: 8px;
  border-radius: 12px;
  transition: 0.3s;
  overflow: hidden;
}
#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
  height: 100%;
  border-radius: 12px;
}
#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
  height: 100%;
  border-radius: 12px;
}
#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
  display: none;
}
#bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
  position: initial;
}

/* 顶部样式 */
.author-content.author-content-item.essayPage {
  height: 19rem;
  background: url(/img/background.webp) left 28% / cover no-repeat;
  color: var(--gabriel-white);
  overflow: hidden;
  margin-top: 0px;
}
#page:has(#essay_page) .author-content-item .card-content .banner-button-group .banner-button:hover {
  color: var(--gabriel-white);
  border-radius: 20px !important;
}

/* 响应式 */
@media screen and (max-width: 1300px) {
  #bber .timeline ul li.bber-item {
    width: 49%;
    margin-right: 1%;
  }
}
@media screen and (max-width: 768px) {
  #bber .timeline ul li.bber-item {
    width: 100%;
    margin-right: 0px;
  }
}
[data-theme="dark"] #bber .bber-music .aplayer,
[data-theme="dark"] #bber .aplayer .aplayer-lrc:before,
[data-theme="dark"] #bber .aplayer .aplayer-lrc:after {
  background: var(--gabriel-card-bg);
  color: var(--gabriel-fontcolor);
}
#bber .aplayer .aplayer-lrc p {
  color: var(--gabriel-fontcolor);
}



/* 追番页*/
.zhuifan-item { display: flex; }
.zhuifan-item＞div:not(:first-child) { margin-left: 4px; }